<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Emphasis Speech-to-speech Translation</title>
	</head>
  <style type="text/css" media="screen">
    .w3-example{background-color:#f1f1f1;padding:0.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
    .loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

  .item_box{
    padding: 10px;
    font-size: 20px;
    background-color: lightblue;
    height: 150px;
  }

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  </style>
	<body >
    <div align="center">
      <h1>Emphasis Speech-to-speech Translation</h1>
    </div>
    <div style="height: 70%;" align="center">
      <h2>Introduction</h2>
      <figure>
        <img src="/static/images/end2end_joint.png" alt=""/>
        <img src="/static/images/end2end_joint_detail.png" alt=""/>
        <figcaption>Fig. 1. End-to-end word &amp; emphasis joint translation.</figcaption>
      </figure>
    </div>

    <div class="w3-example" id="mycontent">
      <select v-on:change="on_select_change" v-model="selected">
        <option v-for="option in demo_data" v-bind:value="option.id">
          {{ option.title }}
        </option>
      </select>
      <button v-on:click="start_demo">Run</button>

      <div align="center" style="margin-top: 20px;">
        <h2>Demo</h2>
        <table cellspacing="50">
          <tr>
            <td>
              <div id="asr" class="item_box" align="center" style="">
                <!--<figcaption>Speech recognition</figcaption>-->
                <!--<div id="asr"> asr </div>-->
                <!--<img id="asr" style="width: 50%" src="/static/images/asr.png" alt=""/>-->
                Speech recognition
                <div v-if="is_start_demo" >
                  <audio controls>
    							  <source :src="item.src_audio_url" type="audio/wav">
      							Your browser does not support the audio tag.
                  </audio>
                </div>
                <h4 v-if="!running_asr && asr_ready">{{item.text_en}}</h4>
                <div v-if="running_asr && !asr_ready" class="loader"></div>
              <div>
            </td>
            <td>
              <div id="mt" align="center" class="item_box">
                Machine Translation
                <!--<img style="width: 50%" src="/static/images/mt.png" alt=""/>-->
                <h4 v-if="!running_mt && mt_ready">{{item.text_ja}}<br/>{{item.emph_ja}}</h4>
                <div v-if="running_mt && !mt_ready" class="loader"></div>
              </div>
            </td>
            <td>
              <div id="tts" align="center" class="item_box">
                Text-to-Speech
                <div v-if="!running_tts && tts_ready" >
                  <div v-if="item.tgt_no_em_audio_url">
                  <label>No emphasis translation</label>
                  <audio controls>
  								  <source :src="item.tgt_no_em_audio_url" type="audio/wav">
    								Your browser does not support the audio tag.
                  </audio>

                  </div>

                  <br/>
                  <label>Emphasis translation wo/pause</label>
                  <audio controls>
  								  <source :src="item.tgt_em_no_pause_audio_url" type="audio/wav">
    								Your browser does not support the audio tag.
                  </audio>

                  <br/>
                  <label>Emphasis translation w/pause</label>
                  <audio controls>
  								  <source :src="item.tgt_em_pause_audio_url" type="audio/wav">
    								Your browser does not support the audio tag.
                  </audio>

                </div>
                <div v-if="running_tts && !tts_ready" class="loader"></div>
              </div>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <div class="item_box" align="center" id="es">
                Emphasis Estimation
                <h4 v-if="!running_es && es_ready">{{item.emph_en}}</h4>
                <div v-if="running_es && !es_ready" class="loader"></div>
              <figure>
            </td>
            <td>
              <div class="item_box" align="center" id="es">
                Pause Estimation
                <h4 v-if="!running_pause && pause_ready">{{item.text_pause}}</h4>
                <div v-if="running_pause && !pause_ready" class="loader"></div>
              </div>
            </td>
            <td></td>
            <td></td>

          </tr>
        </table>
      </div>
    </div>
	</body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/static/js/jqSimpleConnect.min.js"></script>
  <script type="text/javascript" src="/static/js/two.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <script charset="utf-8">
  </script>

</html>
